body {
  /*background: @body-bg;*/
  color: black;
  background-image: url(../images/bg1.svg);
  /*background-color: rgb(97, 96, 96);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body a:link {
  color: black;
}
body a:visited {
  color: black;
}
body a:hover {
  color: #A05353;
}
