body {
  /*background: @body-bg;*/
  color: black;
  background: #1B1C1D;
}
body a:link {
  color: black;
}
body a:visited {
  color: black;
}
body a:hover {
  color: #A05353;
}
.logo-left {
  margin: 0;
  padding: 0;
}
.logo-text {
  padding: 0 0 0 2%;
  font-size: 16pt;
  margin: 0;
  font-style: italic;
}
.logo {
  padding: 1%;
}
@media (min-width: 1024px) {
  .logo img {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .logo img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .logo img {
    width: 100%;
  }
}
.top-nav-wrapper {
  background: #1B1C1D;
  width: 100%;
  padding: 1% 0 1% 0;
}
.secondary-nav-wrapper {
  background: #e4e5c2;
  width: 100%;
  padding: 1% 0 .5% 0;
}
.page-wrapper {
  margin: 0 0 500px 0;
  padding: 0 0 0 0;
}
.nv-custom {
  background: #313030;
}
.page-title {
  margin: 1% 0 1% 0;
  width: 100%;
}
.header-center {
  text-align: center;
}
.contact-page {
  margin: 1% 0 15% 0;
  padding: 1%;
  background: white;
}
.usa {
  margin: 2% 0 2% 0;
}
.main-segment {
  padding: 0 0 0 0%;
  text-align: left;
}
@media (min-width: 1024px) {
  .main-segment {
    font-size: 12pt;
  }
}
@media (max-width: 1024px) {
  .main-segment {
    font-size: 12pt;
  }
}
@media (max-width: 768px) {
  .main-segment {
    border-radius: 5px;
    margin: 0 2.5% 0 2.5%;
    font-size: 10pt;
  }
}
@media (max-width: 480px) {
  .main-segment {
    border-radius: 5px;
    margin: 0 4% 0 4%;
    font-size: 8pt;
  }
  .main-segment h2 {
    font-size: 1.1rem;
  }
}
.main-segment a:link {
  color: green;
}
.main-segment a:visited {
  color: green;
}
.main-segment a:hover {
  color: red;
}
.main-title {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 1024px) {
  .main-title {
    font-size: 100pt;
  }
}
@media (max-width: 1024px) {
  .main-title {
    font-size: 60pt;
  }
}
@media (max-width: 768px) {
  .main-title {
    font-size: 50pt;
  }
}
@media (max-width: 480px) {
  .main-title {
    font-size: 40pt;
  }
}
.row-1 {
  background-image: url(../images/bg.svg);
  background-color: #616060;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
@media (min-width: 1024px) {
  .row-1 {
    font-size: 14pt;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .row-1 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .row-1 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 480px) {
  .row-1 {
    padding: 2% 0 0 0;
  }
}
.row-2 {
  background: #ccd3e9;
}
@media (min-width: 1024px) {
  .row-2 {
    font-size: 14pt;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .row-2 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .row-2 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 480px) {
  .row-2 {
    padding: 2% 0 0 0;
  }
}
.row-3 {
  background: #e3e3eb;
}
@media (min-width: 1024px) {
  .row-3 {
    font-size: 14pt;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .row-3 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .row-3 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 480px) {
  .row-3 {
    padding: 2% 0 0 0;
  }
}
.row-4 {
  background: #eeeef8;
}
@media (min-width: 1024px) {
  .row-4 {
    font-size: 14pt;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .row-4 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .row-4 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 480px) {
  .row-4 {
    padding: 2% 0 0 0;
  }
}
.row-5 {
  background: white;
  border-bottom: 1px solid black;
}
@media (min-width: 1024px) {
  .row-5 {
    font-size: 14pt;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .row-5 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .row-5 {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 480px) {
  .row-5 {
    padding: 2% 0 0 0;
  }
}
.row-product {
  background: white;
  border-bottom: 1px solid black;
}
@media (min-width: 1024px) {
  .row-product {
    font-size: 14pt;
    padding: 2% 0 0 0;
  }
}
@media (max-width: 1024px) {
  .row-product {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 768px) {
  .row-product {
    padding: 2% 0 0 0;
  }
}
@media (max-width: 480px) {
  .row-product {
    padding: 2% 0 0 0;
  }
}
.ulboracms {
  width: 40%;
  height: 100%;
}
@media (min-width: 1024px) {
  .ulboracms img {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .ulboracms img {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .ulboracms img {
    width: 70%;
  }
}
@media (max-width: 580px) {
  .ulboracms {
    display: none;
  }
  .ulboracms img {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .ulboracms {
    display: none;
  }
  .ulboracms img {
    width: 80%;
  }
}
.footer {
  text-align: center;
  width: 100%;
  padding: 3% 0 3% 0;
  color: gray;
  background: #1B1C1D;
}
