{{define "header"}}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114321119-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114321119-1');
    </script>

    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{.MetaDesc}}">
    <meta name="keywords" content="{{.MetaKeyWords}}">
    <meta name="author" content="{{.MetaAuthor}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/templates/myApiGateway_v2.com/css/semantic.min.css">
    <link rel="stylesheet" href="/templates/myApiGateway_v2.com/css/accordion.min.css">
    <link rel="stylesheet" href="/templates/myApiGateway_v2.com/css/styles.css">

    <script type='text/javascript' src="/templates/myApiGateway_v2.com/js/jquery-3.2.1.min.js"></script>
    <script type='text/javascript' src="/templates/myApiGateway_v2.com/js/semantic.min.js"></script>
    <script type='text/javascript' src="/templates/myApiGateway_v2.com/js/accordion.min.js"></script>
    <script type='text/javascript' src="/templates/myApiGateway_v2.com/js/script.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script> 

</head>
{{end}}