{{define "navbar"}}
<div class="top-header">
    <div class="logo">
        <div class="logo-img">
            <a href='http://www.myapigateway.com'>
                <img src="/templates/myApiGateway_v2.com/images/myapigatewayLogo.svg" style="width:30px"></a>
        </div>
        <div class="logo-link">
            <a href='http://www.myapigateway.com'>MyApiGateway</a>
        </div>
    </div>
    <div class="topmenu">
        <div class="gw-menu">
            <a class="gw-item" href="/trial">
                Free Account
            </a>
            <a class="gw-item" href="/demo">
                Demo
            </a>
        </div>
    </div>
</div>
{{end}}