{{define "navbar"}}
<div class="top-nav-wrapper">
  <div class="ui container">
    <div class="ui stackable  top menu">
      <div class="item">
        <a onclick="setM1();" href="/">  
        <img class="logo" src="/templates/ken-williamson.com/images/kwilliamson_1.5.jpeg" alt="Avatar" style="width:80px">              
        </a>
      </div>
      <a id="m1" onclick="setM1();" class="item" href="/">Home</a>        
      <a id="m2" onclick="setM2();" class="item" href="/books">Books</a>
      <a id="m3" onclick="setM3();" class="item" href="/tech">Technology</a>    
      <a id="m4" onclick="setM4();" class="item" href="/consulting">Consulting</a>    
    </div>
  </div>
</div>
{{end}}