body {
  color: #04048d;
}
@media (min-width: 1024px) {
  body {
    font-size: 12pt;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 12pt;
  }
}
@media (max-height: 700px) {
  body {
    font-size: 12pt;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10pt;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 10pt;
  }
}
.top-header {
  background: #134980;
  color: white;
  width: 100%;
}
@media (min-width: 1024px) {
  .top-header {
    padding: 1% 0 1% 0;
    margin: 0 0 1% 0;
  }
}
@media (max-width: 1024px) {
  .top-header {
    padding: 1.5% 0 1% 0;
  }
}
@media (max-height: 700px) {
  .top-header {
    padding: 1.5% 0 1.5% 0;
  }
}
@media (max-width: 768px) {
  .top-header {
    padding: 2% 0 1.5% 0;
  }
}
@media (max-width: 480px) {
  .top-header {
    padding: 2% 0 2% 0;
  }
}
.top-header a:link {
  color: white;
}
.top-header a:visited {
  color: white;
}
.top-header a:hover {
  color: white;
  text-decoration: underline;
}
.logo {
  font-weight: bold;
}
@media (min-width: 1024px) {
  .logo {
    padding: .5% 0 0 1%;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .logo {
    font-size: 14pt;
    padding: .5% 0 0 1%;
  }
}
@media (max-height: 700px) {
  .logo {
    font-size: 14pt;
    padding: .5% 0 0 2%;
  }
}
@media (max-width: 768px) {
  .logo {
    font-size: 12pt;
    padding: .5% 0 0 2%;
  }
}
@media (max-width: 480px) {
  .logo {
    font-size: 10pt;
    padding: .5% 0 0 2%;
  }
}
@media (min-width: 1024px) {
  .topmenu {
    padding: 0 0 0 1%;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .topmenu {
    font-size: 14pt;
    padding: 0 0 0 1%;
  }
}
@media (max-height: 700px) {
  .topmenu {
    font-size: 14pt;
    padding: 0 0 0 2%;
  }
}
@media (max-width: 768px) {
  .topmenu {
    font-size: 12pt;
    padding: 0 0 0 2%;
  }
}
@media (max-width: 480px) {
  .topmenu {
    font-size: 10pt;
    padding: 0 0 0 2%;
  }
}
.gw-menu {
  width: 70%;
}
@media (min-width: 1024px) {
  .gw-menu {
    margin: 1% 0 0 15%;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .gw-menu {
    margin: 1% 0 0 20%;
    font-size: 14pt;
  }
}
@media (max-height: 700px) {
  .gw-menu {
    margin: 1% 0 0 20%;
    font-size: 14pt;
  }
}
@media (max-width: 768px) {
  .gw-menu {
    margin: 2% 0 0 10%;
    font-size: 12pt;
  }
}
@media (max-width: 480px) {
  .gw-menu {
    margin: 2% 0 0 5%;
    font-size: 8pt;
  }
}
.gw-item {
  color: white;
}
@media (min-width: 1024px) {
  .gw-item {
    padding: 0 1% 0 1%;
  }
}
@media (max-width: 1024px) {
  .gw-item {
    padding: 0 1% 0 1%;
  }
}
@media (max-height: 700px) {
  .gw-item {
    padding: 0 1% 0 1%;
  }
}
@media (max-width: 768px) {
  .gw-item {
    padding: 0 1% 0 1%;
  }
}
@media (max-width: 480px) {
  .gw-item {
    padding: 0 2% 0 2%;
  }
}
.gw-item-active {
  color: #a19595;
  font-weight: bold;
}
.foot-menu {
  text-align: center;
  color: white;
  background: #556a7e;
  padding: 1% 0 1% 0;
}
.foot-menu a:link {
  color: white;
}
.foot-menu a:visited {
  color: white;
}
.foot-menu a:hover {
  color: #d5d4d8;
}
.foot-item {
  padding: 0 1% 0 1%;
}
.product-label {
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  padding: 2% 0 0 0;
}
.product-desc {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  padding: 1% 0 0 0;
}
.main-page {
  margin: 2% 0 0 0;
  color: darkblue;
}
.page-title {
  margin: 1% 0 1% 0;
  width: 100%;
}
.usa {
  margin: 2% 0 2% 0;
}
