{{define "header"}}

<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{.MetaDesc}}">
    <meta name="keywords" content="{{.MetaKeyWords}}">
    <meta name="author" content="{{.MetaAuthor}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/templates/myApiGateway.com.v1/css/semantic.min.css">
    <link rel="stylesheet" href="/templates/myApiGateway.com.v1/css/accordion.min.css">
    <link rel="stylesheet" href="/templates/myApiGateway.com.v1/css/styles.css">

    <script type='text/javascript' src="/templates/myApiGateway.com.v1/js/jquery-3.2.1.min.js"></script>
    <script type='text/javascript' src="/templates/myApiGateway.com.v1/js/semantic.min.js"></script>
    <script type='text/javascript' src="/templates/myApiGateway.com.v1/js/accordion.min.js"></script>
    <script type='text/javascript' src="/templates/myApiGateway.com.v1/js/script.js"></script>

</head>
{{end}}